@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,700;1,400&family=Courgette&display=swap');

:root {
  --color-primary: #006241;
  --color-secondary: #d50032;
  --main-black: #000;
  --main-white: #fff;
  --color-gray: #666;
  --color-extra: #d4e9e2;
  --primary-font: 'Chakra Petch', sans-serif;
  --secondary-font: 'Courgette', cursive;
  --transition: all 0.3s linear;
  --box-dark-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
}

/* SECTION TITLE */
.section-title {
  margin: 2rem auto;
  text-align: center;
}
.section-title h1 {
  font-family: var(--secondary-font);
  color: var(--color-primary);
  max-width: 35rem;
  margin: 0 auto;
}

.section-title .underline {
  width: 10rem;
  height: 0.25rem;
  background: var(--color-secondary);
  margin: 2rem auto;
}
